* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(50, 55, 50);
}
.grid-container {
  background-color: rgb(92, 102, 92);
  width: 80%;
  display: grid;
  margin: 2rem auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  grid-auto-rows: 50px;
}
.grid-item {
  background-color: rgb(251, 255, 7);
  text-align: center;
  border-radius: 8px;
  border: none;
}
.small {
  grid-row: span 1;
}
.medium {
   grid-row: span 2;
}
.large {
   grid-row: span 3;
}

